@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* font-family: 'VT323', monospace; */


body{
    background: black;
    font-family: 'VT323', monospace;
    color: whitesmoke;
}

#btn-msg{
    color: white;
    margin: 10px;
    background-color: rgba(245, 245, 245, 0.137);
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: large;
}

#input-msg{
    padding-left: 10px;
    margin: 10px;
    width: 70vw;
    height: 30px;
    background: rgba(245, 245, 245, 0.137);
    color:  whitesmoke;
}

#msg-form{
    position: fixed;
    bottom: 2%;
    margin: 15px;
}

.blink{
    animation-name: blink;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }


.msg-box{
    /* border-bottom: 1px dashed rgba(245, 245, 245, 0.253); */
    margin-top: 10px;
}

.msg-user{
    color: #FF5555;
}

#msgs{
    height: 80vh;

    overflow-x: hidden;
    /* overflow-anchor: auto; */
}

/*  THIS THE SCROLL-BARR */
/* width */
::-webkit-scrollbar {
    width: 7px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: whitesmoke; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FF5555; 
  }

/* END OF SCHROLL BAR */